[submodule "neuraclinic-auth"]
	path = neuraclinic-auth
	url = git@github.com:zchelalo/neuraclinic-auth.git
[submodule "neuraclinic-users"]
	path = neuraclinic-users
	url = git@github.com:zchelalo/neuraclinic-users.git
[submodule "neuraclinic-proto-contracts"]
	path = neuraclinic-proto-contracts
	url = git@github.com:zchelalo/neuraclinic-proto-contracts.git
[submodule "neuraclinic-jenkins"]
	path = neuraclinic-jenkins
	url = git@github.com:zchelalo/neuraclinic-jenkins.git
[submodule "neuraclinic-notifications"]
	path = neuraclinic-notifications
	url = git@github.com:zchelalo/neuraclinic-notifications.git
[submodule "neuraclinic-records"]
	path = neuraclinic-records
	url = git@github.com:zchelalo/neuraclinic-records.git
[submodule "neuraclinic-file-management"]
	path = neuraclinic-file-management
	url = git@github.com:zchelalo/neuraclinic-file-management.git
[submodule "neuraclinic-location"]
	path = neuraclinic-location
	url = git@github.com:zchelalo/neuraclinic-location.git
